includes:
	- vendor-bin/phpstan/vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor-bin/phpstan/vendor/jangregor/phpstan-prophecy/src/extension.neon

parameters:
    autoload_files:
        - vendor-bin/phpstan/vendor/autoload.php
        - vendor/autoload.php

    ignoreErrors:
        #- '#__construct\(\) does not call parent constructor from .+#'
        - '#on possibly null value#'
